body {
    transition: background-color 0.5s ease;
}

button{
background-color: #4CAF50;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

button:hover{
background-color: #45a049;
}
button:active{
background-color: #95151b;
}